body{
    color:#171717;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    background-color: #fafafa;
}
input, button, submit { border:none; } 
a{
    color: #171717;
    text-decoration: none !important;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 9rem;
}
.iso-link{
    width: 3.6rem;
}
.iso-link > img{
    width: 100%;
}
.container-header{
    display: flex;
    align-items: center;
}
.ch-right{
    margin-right: 4em;
}
.ch-left{
    margin-left: 4rem;
}
.link-main {
    margin-left: 3rem;
    font-size: 1.35rem;
    font-weight: 500;
}
.link-socials {
    margin-left: 2.5rem;
    font-size: 1.9rem;
    transition: .25s ease-out;
}

.link-main {
    /* RESET */
    text-decoration: none;
    line-height: 1;
    position: relative;
    z-index: 0;
    display: inline-block;
    padding: 6px 6px;
    overflow: hidden;
    vertical-align: bottom;
    transition: color .3s ease-out;
 }
 
 .link-main::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(calc(100%));
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(30deg, #12c2e9, #c471ed, #f64f59); */
    background-image: linear-gradient(30deg,#aaffa9, #11ffbd);
    transition: transform .25s ease-out;
 }
 
 .link-main:hover { 
    color: #171717;
 }
 .link-main:hover::before {
    transform: translateY(0);
    transition: transform .25s ease-out;
 }
 .link-socials:hover{
    color: #11ffbd;
    transition: .15s ease-out;
 }
 main{
     display: flex;
     justify-content: center;
     align-items: center;
     height: calc(100vh);
     margin-top: -9rem;
 }
 .color-especial{
    background: -webkit-linear-gradient(290deg,#81ec7f, #11ffbd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
.btn-grad {background-image: linear-gradient(290deg,#81ec7f, #11ffbd)}
.btn-grad {
   /* margin: 3.5rem auto -3rem auto; */
   margin: 3rem 0 -3rem 0;
   padding: 22px 42px;
   text-align: center;
   font-family: 'Rubik', sans-serif;
   font-size: 1.7rem;
   font-weight: 600;
   transition: 0.5s;
   background-size: 200% auto;
   color: #171717;            
   box-shadow: 0 0 20px #eee;
   display: block;
    border-radius: .5rem;
 }
 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #171717;
   text-decoration: none;
   cursor: none;
 }
 .titulo{
    font-size: 5.5rem;
    font-weight: 600;
    /* margin-left: 5rem; */
    /* text-align: center; */
}
.subtitulo{
   font-size: 2.45rem;
   font-weight: 500;
   margin: 1rem auto 0 auto;
   color: rgba(70, 77, 117, .8);
   /* margin-left: 5rem; */
   /* text-align: center; */
}
.section-main{
    width: 50%;
    margin-left: 10%;
}
.imagen-main-2{
    width: 55%;
    margin-right: 4%;
    margin-top: 1rem;
}
.sticky{
    height: 6rem;
    transition: .15s ease-out;
}
.titulo-mobile{
    display: none;
}

@media (max-width: 992px){ /* Mobile */
    .header{
        background-color: red;
    }
}

@media (max-width: 1200px){ /* Tablet */
    main{
        flex-direction: column-reverse;
    }
    .section-main{
        width: 90%;
        margin: 2rem auto;
    }
    .titulo{
        display: none;
    }
    .titulo-2{
        display: inline;
    }
}

@media (max-width: 1520px){ /* Portatil */
    .titulo{
        font-size: 4.8rem;
    }
    .subtitulo{
       font-size: 2.2rem;
    }
    .section-main{
        width: 50%;
        margin-left: 5%;
    }
    .imagen-main-2{
        width: 50%;
        margin-right: 2%;
        margin-top: 1rem;
    }
}